* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}
header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  color: #06c167;
}
.navlist {
  display: flex;
}
.navlist a {
  color: black;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 0.5px solid transparent;
  transition: all 0.55 ease;
}

.navlist a:hover {
  color: #06c167;
  border-bottom: 2px solid #06c167;
}

#menu-icon {
  color: #06c167;
  font-size: 30px;
  z-index: 1001;
  cursor: pointer;
  display: none;
}
.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
