* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}
.main {
  background-color: #f3fcf7;
  width: 1447;
  height: 5559;
  angle: 0 deg;
  opacity: 1;
  top: -8px;
}
header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;

  /*  */
}
.logo {
  font-size: 30px;
  font-weight: 700;
  color: #06c167;
}
.navlist {
  display: flex;
}
.navlist a {
  color: black;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 0.5px solid transparent;
  transition: all 0.55 ease;
}

.navlist a:hover {
  color: #06c167;
  border-bottom: 2px solid #06c167;
}

#menu-icon {
  color: #06c167;
  font-size: 30px;
  z-index: 1001;
  cursor: pointer;
  display: none;
}
.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
section {
  padding: 0 19%;
}
.hero-text h1 {
  font-size: 75px;
  font-weight: 600;
  color: #1d1d1f;
  margin: 0 0 45px;
}

.hero-text p {
  font-size: 16px;
  font-weight: 400;
  color: #1d1d1fbf;
  margin-bottom: 40px;
}

.hero-img img {
  width: 468px;
  height: 634px;
}

.hero-text a {
  display: inline-block;
  color: white;
  background-color: #06c167;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.55s ease;
}
.hero-text a:hover {
  background: transparent;
  border: 1px solid rgb(100, 154, 18);
  transform: translateX(8px);
  color: #06c167;
}
.icons {
  display: flex;
  position: absolute;
  top: 80%;
  padding: 0 9%;
  transform: translateY(-50%);
}
.icons a {
  align-items: center;
  justify-content: space-between;
  margin-left: 20%;
  transition: all 0.55 ease;
}
.icons a:hover {
  color: #06c167;
  transform: translateY(-5px);
}

@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
}
@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }
}
@media (max-width: 1340px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
  .hero-text h1 {
    font-size: 75px;
    margin: 0 0 35px;
  }
  .hero-text p {
    margin-bottom: 25px;
  }
}
@media (max-width: 1195px) {
  section {
    padding: 0 3%;
    transition: 0.2s;
  }
  .hero-text {
    padding-top: 115px;
  }
  .hero-img {
    text-align: center;
  }
  .hero-img img {
    width: 560px;
    height: auto;
  }
  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .icons {
    display: none;
  }
}

@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 40vh;
    background: #cdffc1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease;
  }
  .navlist a {
    margin-left: 0;
    display: block;
    margin: 10px 0;
  }
  .navlist .open {
    right: 0;
  }
}

@media (max-width: 680px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
}
