* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}
.main {
  background-color: #f3fcf7;
  width: 1447;
  height: 5559;
  /* angle: 0 deg; */
  opacity: 1;
  top: -8px;
}
header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;

  /*  */
}
.logo {
  font-size: 30px;
  font-weight: 700;
  color: #06c167;
}
.navlist {
  display: flex;
}
.navlist a {
  color: black;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 0.5px solid transparent;
  transition: all 0.55 ease;
}

.navlist a:hover {
  color: #06c167;
  border-bottom: 2px solid #06c167;
}

#menu-icon {
  color: #06c167;
  font-size: 30px;
  z-index: 1001;
  cursor: pointer;
  display: none;
}
.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
section {
  padding: 0 19%;
}
.hero-text h1 {
  font-size: 75px;
  font-weight: 600;
  color: #1d1d1f;
  margin: 0 0 45px;
}

.hero-text p {
  font-size: 16px;
  font-weight: 400;
  color: #1d1d1fbf;
  margin-bottom: 40px;
}

.hero-img img {
  width: 468px;
  height: 634px;
}

.hero-text a {
  display: inline-block;
  color: white;
  background-color: #06c167;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.55s ease;
}
.hero-text a:hover {
  background: transparent;
  border: 1px solid rgb(100, 154, 18);
  transform: translateX(8px);
  color: #06c167;
}
.icons {
  display: flex;
  position: absolute;
  top: 80%;
  padding: 0 9%;
  transform: translateY(-50%);
}
.icons a {
  align-items: center;
  justify-content: space-between;
  margin-left: 20%;
  transition: all 0.55 ease;
}
.icons a:hover {
  color: #06c167;
  transform: translateY(-5px);
}
.lines {
  width: 80%;
  height: 2.5px;

  margin: 5% 10% 0% 10%;
  background-color: #707070;
  display: inline-block;
  text-align: center;
}

.services {
  margin: 2% 10% 2% 10%;
  width: 1, 170px;
  height: 185px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.benifits {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  padding: 0 19%;
}

.benifits-img {
  background-color: #f3fafb;
}
.benifits-description > h2 {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 60px;

  line-height: 100%;
  letter-spacing: 0%;
}
.check-items {
  font-size: 1.5vw;
  margin-top: 10%;
}

.vegies {
  display: flex;
  justify-content: space-around;
  width: 1230;
  height: 608;
  /* angle: 0 deg; */
  opacity: 1;
  top: 2020px;
  left: 75px;
  border-width: 1px;
}
.vegies-description {
  margin: 10%;
}
.vegie-title {
  /* margin: 10%; */
  font-family: Inter;
  font-weight: 200;
  font-style: Medium;
  font-size: 60px;
}
.vegie-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10%;
  left: 10%;
}
.number {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 40px;

  line-height: 100%;
  letter-spacing: 0%;
  color: #06c167;
}

.number-of {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  /* leading-trim: NONE; */
  line-height: 100%;
  letter-spacing: 0%;
  color: #1d1d1f;
}
.vegies-image {
  margin: 10%;
  width: 445;
  height: 513;

  opacity: 1;
  top: 2020px;
  left: 860px;
  background-color: #cdffc1;
}

.vegie-button {
  margin-left: 2%;
}

.feature-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  margin: 2% 30%;
  flex-direction: column;
}
.feature-title > h2 {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 60px;
  /* leading-trim: NONE; */
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 8%;
}

.feature-box {
  margin: 0% 35%;
  display: flex;
}
.row-one {
  display: flex;
}
.f-img-size {
  width: 292.5px;
  height: 292.5px;
}
.bg-card {
  width: 292.5px;
  height: 292.5px;

  opacity: 1;
  top: 3006px;
  left: 427.5px;
  background-color: #f3fcf7;
}
.card-title,
.card-description,
.card-btn {
  padding: 10%;
}
.pop-products {
  margin: 10% 5%;
}
.pop-card {
  width: 270px;
  height: 445px;

  top: 3957px;
  left: 435px;
  border: 1px solid gainsboro;
}
.pop-cards {
  display: flex;
  justify-content: space-around;
}
.pop-name,
.pop-price,
.pop-img,
.pop-button {
  padding: 5%;
}

.pop-titles {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  margin: 2%;
  flex-direction: column;
}
.pop-titles > h2 {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 60px;
  /* leading-trim: NONE; */
  line-height: 100%;
  letter-spacing: 0%;
  /* margin-top: 8%; */
}

@media (max-width: 680px) {
  #menu-icon {
    display: block;
    position: relative;
  }
  .hero-img img {
    width: 100%;
    height: auto;
  }
  .icons {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .hero-text > h1 {
    text-align: center;
  }
  .services {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20% 8px;
  }

  .benifits {
    display: inline-block;
    align-items: center;
  }
  .benifits img {
    width: 300px;
    margin: 20% 70% 10% 0%;
    left: 0;
  }
  .benifits-description {
    margin-top: 10%;
  }
  .benifits-description > h2 {
    margin: 10% 0% 10% -40%;
    padding: 0 10px 0 32px;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 35px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
  .benifits-description .check-items {
    margin-top: 10%;
    width: 250.99951171875;
    height: 19.387531280517578;

    top: 2452px;
    left: 51px;
    font-size: 20px;
  }
  .vegies {
    display: inline-block;
    align-items: center;
  }
  .vegies-description h2 {
    font-size: 35px;
  }
  .vegie-number {
    display: inline;
    /* justify-content: space-around; */
  }
  .grid1,
  .grid2,
  .grid3 {
    /* display: inline; */

    margin: 0px 10px 0px 100px;
    padding: 5%;
  }
  .vegies-image img {
    width: 100%;
    margin: 20% 70% 10% 0%;
    left: 0;
  }

  .feature-box {
    width: 100%;
    display: inline-block;
  }
  .row-one {
    display: block;
  }
  .feature-one {
    margin: 10% 0px 10% -50px;
  }

  .feature-two {
    margin: 10px 0px 10px -50px;
  }
  .feature-three {
    margin: 10px 0px 10px -50px;
  }
  .feature-four {
    margin: 10px 0px 10px -50px;
  }
  .f-card-one {
    margin-bottom: 10%;
  }
  .f-card-two {
    margin-bottom: 10%;
  }
  .f-card-three {
    margin-bottom: 10%;
  }
  .f-card-four {
    margin-bottom: 10%;
  }

  .pop-cards {
    display: block;
    margin-top: 10%;
  }
  .pop-card {
    margin-top: 10%;
    margin-left: 10%;
  }
}
